<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/predict.css">
    <title>Car Resale Predicted Value</title>
<style>
body {
  background-image: url('white-lamborghini-aventador-new-4k_1546361650.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}
h1{
text-align: center;
margin-right: 200px;
}
h2{
text-align: center;
margin-right: 200px
}
</style>
</head>
<body>
<right>
	<section class="header">
      <br>
       <br>
       <br>
       <br>
       <br>
       <br>
        <br>
       <br>
        <br>
       <br>  
  
        <div class="text-box">

          <h1 style="color:Black;"><br>The Predicted Car Resale Value is </h1>
		  <h2 style="color:black;">3,50,000</h2>
        </div>
    </section>
	
</right>	
</body>
</html>